// Your custom styles

.vertical-spacing {
	border-bottom: 20px solid #ffffff00;
}
@media (min-width: 1280px) {
	.vertical-spacing {
		border-bottom: 0;
	}
}
.no-margin {
	margin: 0 !important;
}
.space-above {
	padding-top: 6.5em;
}